<div class="quizz-container">

   <div class="quizz-logo">

    <img class="image-logo" src="https://cdn.discordapp.com/attachments/931390011746709636/1343661434558484480/logo.png?ex=67be15ba&is=67bcc43a&hm=de9ca8c6a355dd4d24eb6c90af0b97ab90edae78a335f92aa5ad585feb82cb73&" alt="">

    <h3 class="quizz-title"> {{title}}</h3>

  </div>

   <div class="quizz-content">

        <div  *ngIf=!finished class="quizz-question">
            <h3>{{questionSelected.question}}</h3>

         </div>

         <div *ngIf=!finished class="quizz-option">
          <button
          *ngFor="let option of questionSelected.options; let i = index"
          (click)="playerChoose(option.alias)"
          class="btn-option"
          >{{option.name}}</button>
         </div>

         <div
         *ngIf=finished
         class="quizz-result">
          <h1>seu resultado é:</h1>
          <p>{{answerSelected}}</p>
         </div>


   </div>

</div>
